header {
  width: 100%;
  background-color: #5cb2b8;
  background-image: url(../docs/45-degree-fabric-light.png);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}